doctype
html
	head
		title Log in with Google
		link(rel='stylesheet', href='/static/style.css')
	body
		div.container
			h1 Sign In and You will see something cool!
			button
				a(href='/auth/google') Sign In
